<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
			"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.hrms.mappers.workMapper">
	
	<select id="select" parameterType="java.util.Map" resultType="edu.hrms.vo.WorkVO">
		SELECT * FROM work
			WHERE userid = #{userid} 
				AND DATE = #{now}
	</select>
	
	<insert id="insert" parameterType="java.util.Map">	
		INSERT INTO work(userid
		     		   , date
		     		   , start) 
		          VALUES (#{userid}
		               , #{date}
		               , #{time})
	</insert>
	
	<update id="update" parameterType="java.util.Map">
		UPDATE work 
			SET end = #{time}
		   WHERE userid = #{userid}
		   	AND date = #{date}
	</update>
	
</mapper>



